@import './iconfont.css';
:root,
page {
  font-family: 'San Francisco', Rotobo, arial, 'PingFang SC', 'Noto SansCJK', 'Microsoft Yahei',
    sans-serif;

  // 修改按主题色
  // --wot-color-theme: #37c2bc;

  // 修改按钮背景色
  // --wot-button-primary-bg-color: green;

  // 统一固定导航栏背景色
  --color-nav-bg: #4689fd !important;
  //统一固定导航栏字体颜色
  --color-nav-text: #fff !important;
  //
  --btn-round: 6px;
  // info
  --dy-innfo-color: #2d69ef;
  // infobg
  --dy-info-bg: #eff4ff;
  //dy-info-border:
  --dy-info-border: 1px solid #c7d9ff;
}

// .test {
//   // 可以通过 @apply 多个样式封装整体样式
//   @apply mt-4 ml-4;
//   padding-top: 4px;
//   color: red;
// }
.custom-class-mine-login {
  color: #fff !important;
  background: linear-gradient(90deg, #72c2fe 0%, #4055fe 100%) !important;
  border: none !important;
  border-radius: var(--btn-round) !important;
}
:deep(.custom-class-mine-error),
.custom-class-mine-error {
  color: #fff !important;
  background: #f44d24 !important;
  border: none !important;
  border-radius: var(--btn-round) !important;
}

.dy-tab-full-hight {
  height: calc(100vh - var(--window-bottom));
}

:deep(.custom-class-mine-dyplain),
.custom-class-mine-dyplain {
  border-radius: var(--btn-round) !important;
  @apply overflow-hidden!;
}
.custom-class-mine-dyinfo {
  color: var(--dy-info-color) !important;
  background: var(--dy-info-bg) !important;
  border: var(--dy-info-border) !important;
  border-radius: var(--btn-round) !important;
}
.dy-bottom-tabbar {
  bottom: calc(var(--window-bottom) + 5px) !important;
}
.nav_show {
  @apply bg-transparent!;
}
.nav_bg {
  color: var(--color-nav-text);
  background-color: var(--color-nav-bg);
}
// 统一蓝色导航背景
.dy-blue-bg {
  min-height: 100vh;
  background: linear-gradient(180deg, #d6eafe 0%, #f3f4f6 40%, #f2f3f7 100%);
}
