@import './iconfont.css';
:root,
page {
  font-family: 'San Francisco', Rotobo, arial, 'PingFang SC', 'Noto SansCJK', 'Microsoft Yahei',
    sans-serif;

  // 答题正确
  --color-an-success: #1dacfa;
  // 答题错误
  --color-an-error: #ff6766;
  // 答题未做
  --color-an-warning: #ffc000;
  // 答题提示
  --color-an-info: #999;
  // 答题背景
  --color-an-background: #f3f4f5;
  // 答题字体
  --color-an-font: #080808;
}
