// @import './iconfont.css';

:root,
page {
  font-family: 'San Francisco', Rotobo, arial, 'PingFang SC', 'Noto SansCJK', 'Microsoft Yahei',
    sans-serif;

  // 修改按主题色
  // --wot-color-theme: #2d69ef;
  // // 修改按钮背景色
  // //--wot-button-primary-bg-color: red;

  // // 统一固定导航栏背景色
  // --color-nav-bg: #1890ff !important;
  // //统一固定导航栏字体颜色
  // --color-nav-text: #fff !important;
  // // 统一按钮背景色(渐变)
  // --wot-button-primary-bg-color: linear-gradient(90deg, #72c2fe 0%, #4055fe 100%) !important;

  // // 同意镂空背景色
  // --custom-class-plain-bg-color: #2d69ef;
}

.dy-bottom-tabbar {
  bottom: var(--window-bottom) !important;
}

// .wd-button.is-primary {
//   background-color: var(--wot-button-primary-bg-color) !important;
//   border-radius: 6px !important;
//   color: #fff !important;

// .wd-button.is-plain.is-primary {
//   color: var(--custom-class-plain-bg-color) !important;
//   border: 0.1px solid var(--custom-class-plain-bg-color) !important;
//   border-radius: 6px !important;

//   // @apply rounded-4px!  bd-1px_dashed_#E2E2E2!;
// }

.test {
  // 可以通过 @apply 多个样式封装整体样式
  @apply mt-4 ml-4;
  padding-top: 4px;
  color: red;
}
.nav_show {
  @apply bg-transparent!;
}
.nav_bg {
  @apply bg-transparent!;
}
:deep(.nav_bg) {
  color: var(--color-nav-text);
  background-color: var(--color-nav-bg);
}
